$color-primary: #3C5BFA;
$color-secondary: #161616;
$color-error: #FA3C6A;
$color-success: #00BA88;
$color-disabled: #D9D9D9; 
$color-off-white: #F5F5F5;
$color-white: #FFFFFF;
$color-grey: #B6B6B6;

$color-text: #161616;
$color-sub-text: #B6B6B6;
$color-sub-text-dark: #676767;